// @type

.colorBlob {
	position: absolute;
	top: var(--top, unset);
	right: var(--right, unset);
	bottom: var(--bottom, unset);
	left: var(--left, unset);
	background: var(--color, #0088FF);
	width: calc(1px * var(--size));
	height: calc(1px * var(--size));
	border-radius: 65% 35% 45% 55%/34% 40% 60% 66%;
	opacity: 0.5;
	filter: blur(250px);
}
html:global(.light-theme) .colorBlob {
	opacity: 0.25;
}
