// @types

@use "../../style/helpers" as *;

.projcard {
  --projcard-innerBg: hsl(var(--nextui-default-200) / 0.2);
  --projcard-borderColor: hsl(var(--nextui-default-100) / var(--nextui-default-100-opacity, var(--tw-border-opacity, 1)));
  --projcard-borderWidth: 0px;
  --projcard-border: var(--projcard-borderWidth) solid var(--projcard-borderColor);
  --projcard-textGray1: hsl(var(--nextui-default-900, 240 6% 10%));
  --projcard-textGray2: hsl(var(--nextui-default-700, 240 5% 26%));
  --projcard-tagBg: hsl(var(--nextui-default-300, 240 5% 84%));
  --projcard-tagText: hsl(var(--nextui-default-800, 240 4% 16%));
  --projcard-gradientAngle: -70deg;
  --projcard-borderAngle: -145deg;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: var(--projcard-innerBg);
  box-sizing: border-box;
  border: var(--projcard-border);
  font-size: 18px;
  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  transform: translate(0px, 0px);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  counter-increment: projcardCounter;
  &.projcardLink {
    cursor: pointer;
  }
  &:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.18);
    transform: translate(0px, -3px);
  }
  * {
    box-sizing: border-box;
  }
  &.projcardRight {
    --projcard-gradientAngle: -250deg;
    --projcard-borderAngle: 145deg;
  }
  &:global(.projcard-blue) {
    --projcard-mainColor: #0088ff;
  }
  &:global(.projcard-red) {
    --projcard-mainColor: #d62f1f;
  }
  &:global(.projcard-green) {
    --projcard-mainColor: #40bd00;
  }
  &:global(.projcard-yellow) {
    --projcard-mainColor: #f5af41;
  }
  &:global(.projcard-orange) {
    --projcard-mainColor: #ff5722;
  }
  &:global(.projcard-brown) {
    --projcard-mainColor: #c49863;
  }
  &:global(.projcard-purple) {
    --projcard-mainColor: #5c4084;
  }
  &:global(.projcard-grey) {
    --projcard-mainColor: #424242;
  }
  &:global(.projcard-customcolor) {
    --projcard-mainColor: var(--projcard-color);
  }
  .projcardBar {
    left: -2px;
    width: 50px;
    height: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
    background-color: var(--projcard-mainColor);
  }
}
.projcardCodepen::after,
.projcardCodepenWhite::after {
  content: "";
  position: absolute;
  display: block;
  top: 15px;
  left: 15px;
  width: 120px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 138 26' fill='none' stroke='%23000' stroke-width='2.3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M80 6h-9v14h9 M114 6h-9 v14h9 M111 13h-6 M77 13h-6 M122 20V6l11 14V6 M22 16.7L33 24l11-7.3V9.3L33 2L22 9.3V16.7z M44 16.7L33 9.3l-11 7.4 M22 9.3l11 7.3 l11-7.3 M33 2v7.3 M33 16.7V24 M88 14h6c2.2 0 4-1.8 4-4s-1.8-4-4-4h-6v14 M15 8c-1.3-1.3-3-2-5-2c-4 0-7 3-7 7s3 7 7 7 c2 0 3.7-0.8 5-2 M64 13c0 4-3 7-7 7h-5V6h5C61 6 64 9 64 13z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s;
}
.projcardCodepenWhite::after {
  filter: invert(1);
}
.projcardCodepen:hover::after,
.projcardCodepenWhite:hover::after {
  opacity: 1;
}
.projcardGradient {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(var(--projcard-gradientAngle), var(--projcard-mainColor), transparent 50%);
  opacity: 0.08;
}
.projcardBorder {
  --bg: var(--bg-contrast, #0d0d0e);
  position: absolute;
  inset: 0;
  border: double 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(var(--bg), var(--bg)), linear-gradient(var(--projcard-borderAngle), var(--projcard-mainColor) 5%, transparent 50%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  mix-blend-mode: overlay;
  opacity: 0.13;
}
.projcardNoise {
  position: absolute;
  inset: 0;
  @include noise-bg;
  opacity: 0.05;
  mix-blend-mode: multiply;
}
.projcardInnerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projcardImgWrapper {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 99% 0%, 89% 100%, 0% 100%);
  overflow: hidden;
}
.projcardImg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s ease;
}
.projcardImgDarker {
  filter: saturate(1.1) brightness(0.96);
}
.projcard.projcardRight .projcardImgWrapper {
  left: initial;
  right: 0;
  clip-path: polygon(11% 0%, 100% 0%, 100% 100%, 1% 100%);
}
.projcard:hover .projcardImg {
  transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcardBar {
  width: 70px;
}
.projcardTextbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}
.projcard.projcardRight .projcardTextbox {
  left: initial;
  right: 430px;
}
.projcardTextbox * {
  position: relative;
}
.projcardTitle,
.projcardSubtitle,
.projcardTagbox {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.projcardTitle {
  font-family: Voces, Arial, sans-serif;
  font-size: 24px;
}
.projcardSubtitle {
  font-family: Voces, Arial, sans-serif;
  color: var(--projcard-textGray2);
}
.projcardDescription {
  --projcard-lineHeight: 1.5;
  position: relative;
  display: -webkit-box;
  z-index: 1;
  font-size: 1rem;
  line-height: var(--projcard-lineHeight);
  color: var(--projcard-textGray1);
  height: calc(5 * 1em * var(--projcard-lineHeight));
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  box-orient: vertical;
  -webkit-box-orient: vertical;
}
.projcardTagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.projcardTag {
  display: inline-block;
  background: var(--projcard-tagBg);
  color: var(--projcard-tagText);
  border-radius: 4px;
  line-height: 26px;
  padding: 0 12px 0 10px;
  position: relative;
  margin-right: 8px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
  &::before {
    content: "#";
    display: inline-block;
    opacity: 0.5;
    margin-right: 0.65ex;
    transform: scale(1.15);
  }
}

@media only screen and (max-width: 1040px) {
  .projcardImg,
  .projcard > .projcardInnerbox > .projcardTextbox::before,
  .projcard > .projcardInnerbox > .projcardTextbox::after {
    display: none;
  }
  .projcard {
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }
  .projcard > .projcardInnerbox > .projcardTextbox {
    left: 2rem;
    right: 2rem;
    width: unset;
  }
}
