// @types

.projcard {
	position: relative;
	width: 100%;
	height: 300px;
	margin-bottom: 40px;
	border-radius: 10px;
	background-color: #fff;
	box-sizing: border-box;
	border: 2px solid #ddd;
	font-size: 18px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
	transition: box-shadow 0.2s ease, transform 0.2s ease;
	counter-increment: projcardCounter;
	&:hover {
		box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
		transform: translate(0px, -3px);
	}
	* {
		box-sizing: border-box;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(-70deg, #424242, transparent 50%);
		opacity: 0.07;
	}
	&.projcardRight::before {
		background-image: linear-gradient(-250deg, #424242, transparent 50%);
	}
	.projcardBar {
		left: -2px;
		width: 50px;
		height: 5px;
		margin: 10px 0;
		border-radius: 5px;
		background-color: #424242;
		transition: width 0.2s ease;
	}
	&:global(.projcard-blue) .projcardBar { background-color: #0088FF; }
	&:global(.projcard-blue)::before { background-image: linear-gradient(-70deg, #0088FF, transparent 50%); }
	&:global(.projcard-blue).projcardRight::before { background-image: linear-gradient(-250deg, #0088FF, transparent 50%); }
	&:global(.projcard-red) .projcardBar { background-color: #D62F1F; }
	&:global(.projcard-red)::before { background-image: linear-gradient(-70deg, #D62F1F, transparent 50%); }
	&:global(.projcard-red).projcardRight::before { background-image: linear-gradient(-250deg, #D62F1F, transparent 50%); }
	&:global(.projcard-green) .projcardBar { background-color: #40BD00; }
	&:global(.projcard-green)::before { background-image: linear-gradient(-70deg, #40BD00, transparent 50%); }
	&:global(.projcard-green).projcardRight::before { background-image: linear-gradient(-250deg, #40BD00, transparent 50%); }
	&:global(.projcard-yellow) .projcardBar { background-color: #F5AF41; }
	&:global(.projcard-yellow)::before { background-image: linear-gradient(-70deg, #F5AF41, transparent 50%); }
	&:global(.projcard-yellow).projcardRight::before { background-image: linear-gradient(-250deg, #F5AF41, transparent 50%); }
	&:global(.projcard-orange) .projcardBar { background-color: #FF5722; }
	&:global(.projcard-orange)::before { background-image: linear-gradient(-70deg, #FF5722, transparent 50%); }
	&:global(.projcard-orange).projcardRight::before { background-image: linear-gradient(-250deg, #FF5722, transparent 50%); }
	&:global(.projcard-brown) .projcardBar { background-color: #C49863; }
	&:global(.projcard-brown)::before { background-image: linear-gradient(-70deg, #C49863, transparent 50%); }
	&:global(.projcard-brown).projcardRight::before { background-image: linear-gradient(-250deg, #C49863, transparent 50%); }
	&:global(.projcard-purple) .projcardBar { background-color: #5C4084; }
	&:global(.projcard-purple)::before { background-image: linear-gradient(-70deg, #5C4084, transparent 50%); }
	&:global(.projcard-purple).projcardRight::before { background-image: linear-gradient(-250deg, #5C4084, transparent 50%); }
	&:global(.projcard-grey) .projcardBar { background-color: #424242; }
	&:global(.projcard-grey)::before { background-image: linear-gradient(-70deg, #424242, transparent 50%); }
	&:global(.projcard-grey).projcardRight::before { background-image: linear-gradient(-250deg, #424242, transparent 50%); }
	&:global(.projcard-customcolor) .projcardBar { background-color: var(--projcard-color); }
	&:global(.projcard-customcolor)::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
	&:global(.projcard-customcolor).projcardRight::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
}
.projcardCodepen::after,
.projcardCodepenWhite::after {
	content: "";
	position: absolute;
	display: block;
	top: 15px;
	left: 15px;
	width: 120px;
	height: 30px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 138 26' fill='none' stroke='%23000' stroke-width='2.3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M80 6h-9v14h9 M114 6h-9 v14h9 M111 13h-6 M77 13h-6 M122 20V6l11 14V6 M22 16.7L33 24l11-7.3V9.3L33 2L22 9.3V16.7z M44 16.7L33 9.3l-11 7.4 M22 9.3l11 7.3 l11-7.3 M33 2v7.3 M33 16.7V24 M88 14h6c2.2 0 4-1.8 4-4s-1.8-4-4-4h-6v14 M15 8c-1.3-1.3-3-2-5-2c-4 0-7 3-7 7s3 7 7 7 c2 0 3.7-0.8 5-2 M64 13c0 4-3 7-7 7h-5V6h5C61 6 64 9 64 13z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
	transition: opacity 0.2s;
}
.projcardCodepenWhite::after {
	filter: invert(1);
}
.projcardCodepen:hover::after,
.projcardCodepenWhite:hover::after {
	opacity: 1;
}
.projcardInnerbox {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.projcardImg {
	position: absolute;
	height: 300px;
	width: 400px;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: transform 0.2s ease;
}
.projcardImgDarker {
	filter: saturate(1.1) brightness(0.96);
}
.projcardImgDarker::beforex {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.04);
}
.projcard.projcardRight .projcardImg {
	left: initial;
	right: 0;
}
.projcard:hover .projcardImg {
	transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcardBar {
	width: 70px;
}
.projcardTextbox {
	position: absolute;
	top: 7%;
	bottom: 7%;
	left: 430px;
	width: calc(100% - 470px);
	font-size: 17px;
}
.projcard.projcardRight .projcardTextbox {
	left: initial;
	right: 430px;
}
.projcardTextbox::before,
.projcardTextbox::after {
	content: "";
	position: absolute;
	display: block;
	background: #ff0000bb;
	background: #fff;
	top: -20%;
	left: -55px;
	height: 140%;
	width: 60px;
	transform: rotate(8deg);
}
.projcard.projcardRight .projcardTextbox::before {
	display: none;
}
.projcardTextbox::after {
	display: none;
	left: initial;
	right: -55px;
}
.projcard.projcardRight .projcardTextbox::after {
	display: block;
}
.projcardTextbox * {
	position: relative;
}
.projcardTitle,
.projcardSubtitle,
.projcardTagbox {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.projcardTitle {
	font-family: 'Voces', 'Open Sans', arial, sans-serif;
	font-size: 24px;
}
.projcardSubtitle {
	font-family: 'Voces', 'Open Sans', arial, sans-serif;
	color: #888;
}
.projcardDescription {
	position: relative;
	display: -webkit-box;
	z-index: 1;
	font-size: 17px;
	color: #424242;
	height: 125px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-clamp: 5;
	-webkit-line-clamp: 5;
	box-orient: vertical;
	-webkit-box-orient: vertical;
}
.projcardTagbox {
	position: absolute;
	bottom: 3%;
	font-size: 14px;
	cursor: default;
	user-select: none;
	pointer-events: none;
}
.projcardTag {
	display: inline-block;
	background: #E0E0E0;
	color: #777;
	border-radius: 3px 0 0 3px;
	line-height: 26px;
	padding: 0 10px 0 23px;
	position: relative;
	margin-right: 20px;
	cursor: default;
	user-select: none;
	transition: color 0.2s;
	&::before {
		content: "";
		position: absolute;
		background: #fff;
		border-radius: 10px;
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
		height: 6px;
		left: 10px;
		width: 6px;
		top: 10px;
	}
	&::after {
		content: "";
		position: absolute;
		border-bottom: 13px solid transparent;
		border-left: 10px solid #E0E0E0;
		border-top: 13px solid transparent;
		right: -10px;
		top: 0;
	}
}

@media only screen and (max-width: 1040px) {
	.projcardImg,
	.projcard > .projcardInnerbox > .projcardTextbox::before,
	.projcard > .projcardInnerbox > .projcardTextbox::after {
		display: none;
	}
	.projcard {
		width: calc(100% - 20px);
		margin-left: auto;
		margin-right: auto;
	}
	.projcard > .projcardInnerbox > .projcardTextbox {
		left: 2rem;
		right: 2rem;
		width: unset;
	}
}
