// @types

.body {
	padding: 0 calc(var(--nextui-space-10) - 0.71em) var(--nextui-space-sm) var(--nextui-space-10);
	margin: 0.86em 0.14em 0 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { // Trick to only apply in webkit
	.body {
		border-color: rgba(0, 0, 0, 0);
		transition: border-color 0.5s 1.5s ease-in;
		&:hover {
			border-color: rgba(0, 0, 0, 0.5);
			transition: border-color 0.2s ease-in-out;
		}
		&::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}
		&::-webkit-scrollbar-track {
			display: none;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			border-right-style: inset; // Add border to act as background-color
			border-right-width: calc(100vw + 100vh); // Sum viewport dimensions to guarantee border will fill scrollbar
			border-color: inherit; // Inherit border-color to inherit transitions
			&:hover {
				border-color: rgba(0, 0, 0, 0.6);
			}
			&:active {
				border-color: rgba(0, 0, 0, 0.7);
			}
		}
	}
}

.content {
	display: grid;
	grid-template-columns: 0fr 1fr;
	grid-gap: 1.33em 2.1em;
	width: 55em;
	font-size: 14px;
	line-height: 1.55;
	margin: 0 auto;
	color: var(--nextui-colors-text, #11181C);
	text-rendering: optimizelegibility;
	font-style: normal;
	font-family: "Verdana", "sans-serif", "Arial";
	* {
		box-sizing: border-box;
	}
	p, small, h1, h2, h3, h4, h5, h6 {
		letter-spacing: 0.025em;
		margin: 0;
	}
	.header {
		margin-bottom: 0.5em;
		h2 {
			color: var(--nextui-colors-primary, #0088FF);
			font-family: Voces, Arial, sans-serif;
			font-size: 2.25em;
			margin-bottom: -0.125em;
		}
		span {
			display: block;
		}
		a {
			color: inherit;
			&:not(:hover) {
				text-decoration: none;
			}
		}
	}
	.category {
		border-right: 1px solid var(--nextui-colors-gray400, #D7DBDF);
		text-align: right;
		padding-right: 1em;
		h3 {
			text-transform: uppercase;
			color: var(--nextui-colors-gray700, #7E868C);
			font-weight: normal;
			font-family: Voces, Arial, sans-serif;
			font-size: 1.2em;
			white-space: nowrap;
		}
	}
	h4 {
		margin-bottom: 0.35em;
		font-size: inherit;
		font-weight: normal;
		color: var(--nextui-colors-primary, #0088FF);
		&:not(:first-child) {
			margin-top: 1.5em;
		}
	}
	h5 {
		font-size: inherit;
		color: var(--nextui-colors-gray900, #11181C);
	}
	h6 {
		font-size: inherit;
		font-weight: normal;
		margin-bottom: 0.75em;
	}
	ul {
		padding-left: 0;
		li {
			&:not(:first-child) {
				margin-top: 0.25em;
			}
			&::marker {
				color: var(--nextui-colors-gray700, #7E868C);
			}
		}
	}
	.expertiseWrapper h5:not(:first-child) {
		margin-top: 0.75em;
	}
	.footer {
		display: flex;
		justify-content: space-between;
		margin-top: 2.0em;
	}
}

@page {
	size: 21cm 29.7cm;
	margin: 15mm 20mm 15mm 20mm;
}
