// @types

.body {
	padding: 2em 10px 2em 20px;
	margin: 0.86em 0.14em 0 0;
	overflow-x: hidden;
	overflow-y: scroll;
	justify-content: unset !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { // Trick to only apply in webkit
	.body {
		border-color: rgba(0, 0, 0, 0);
		transition: border-color 0.5s 1.5s ease-in;
		&:hover {
			border-color: rgba(0, 0, 0, 0.5);
			transition: border-color 0.2s ease-in-out;
		}
		&::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}
		&::-webkit-scrollbar-track {
			display: none;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			border-right-style: inset; // Add border to act as background-color
			border-right-width: calc(100vw + 100vh); // Sum viewport dimensions to guarantee border will fill scrollbar
			border-color: inherit; // Inherit border-color to inherit transitions
			&:hover {
				border-color: rgba(0, 0, 0, 0.6);
			}
			&:active {
				border-color: rgba(0, 0, 0, 0.7);
			}
		}
	}
}

.content {
	display: grid;
	grid-template-columns: 0fr 1fr;
	grid-gap: 1.33em 2.1em;
	width: 55em;
	max-width: 100%;
	font-size: 14px;
	line-height: 1.55;
	margin: 0 auto;
	color: hsl(var(--nextui-foreground));
	text-rendering: optimizelegibility;
	font-style: normal;
	font-family: "Verdana", "sans-serif", "Arial";
	* {
		box-sizing: border-box;
	}
	p, small, h1, h2, h3, h4, h5, h6 {
		letter-spacing: 0.025em;
		margin: 0;
	}
	.noBreak {
		break-inside: avoid;
	}
	.header {
		margin-bottom: 0.5em;
		h2 {
			color: hsl(var(--nextui-primary, 208 100% 50%));
			font-family: Voces, Arial, sans-serif;
			font-size: 2.25em;
			margin-bottom: -0.125em;
		}
		span {
			display: block;
		}
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.category {
		border-right: 1px solid hsl(var(--nextui-gray-400, 240 5% 65%));
		text-align: right;
		padding-right: 1em;
		h3 {
			text-transform: uppercase;
			color: hsl(var(--nextui-gray-700, 240 5% 26%));
			font-weight: normal;
			font-family: Voces, Arial, sans-serif;
			font-size: 1.2em;
			white-space: nowrap;
		}
	}
	h4 {
		margin-bottom: 0.35em;
		font-size: inherit;
		font-weight: normal;
		color: hsl(var(--nextui-primary, 208 100% 50%));
		break-after: avoid;
		&:not(:first-child) {
			margin-top: 1.5em;
		}
	}
	h5 {
		font-size: inherit;
		font-weight: bold;
		color: hsl(var(--nextui-gray-900, 240 6% 10%));
		break-after: avoid;
	}
	h6 {
		font-size: inherit;
		font-weight: normal;
		margin-bottom: 0.75em;
	}
	ul {
		padding-left: 0;
		list-style: disc;
		li {
			break-inside: avoid;
			&:not(:first-child) {
				margin-top: 0.25em;
			}
			&::marker {
				color: hsl(var(--nextui-gray-700, 240 5% 26%));
			}
		}
	}
	.expertiseWrapper h5:not(:first-child) {
		margin-top: 0.75em;
	}
	.footer {
		display: flex;
		justify-content: space-between;
		margin-top: 2.0em;
	}
}

@media not print {
	@media (max-width: 600px) {
		.content {
			grid-gap: 4.33em 2.1em;
			.category {
				position: relative;
				padding-right: 0;
				h3 {
					position: absolute;
					margin-top: -1.85em;
					margin-left: -1px;
				}
			}
		}
	}
}

@page {
	size: 21cm 29.7cm;
	margin: 17mm 15mm 17mm 15mm;
}
