@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
::selection {
	background: #A6D5FA;
	color: #0064bb;
}
html,
body {
	width: 100%;
	overflow-x: hidden;
}
body {
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-style: normal;
	font-family: "Verdana", "sans-serif", "Arial";
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	height: 100vh;
	isolation: isolate;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #0088FF;
	cursor: pointer;
	&:has(span) {
		text-decoration: underline !important;
	}
}
a > span {
	color: hsl(var(--nextui-foreground));
	opacity: 0.85;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
a:hover > span {
	color: #0088FF;
}

header {
	display: block;
	position: relative;
	width: 100%;
	height: 80vh;
	min-height: 400px;
	user-select: none;
	> h1 {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		width: calc(100% - 20px);
		margin: 0;
		text-align: center;
		font-size: 250%;
		font-weight: bold;
		transform: translate(-50%, -50%);
		opacity: 1;
		/*mix-blend-mode: difference;*/
		--shadow-color: hsl(var(--nextui-background) / var(--nextui-backgroundAlpha, 1));
		> span {
			display: inline-block;
			text-align: center;
			&:first-child{
				display: block;
				font-size: 150%;
				height: 1.5em;
			}
			&:not(:last-child) {
				opacity: 0.9;
				text-shadow: 0 0 6px var(--shadow-color),
								0 0 12px var(--shadow-color),
								0 0 18px var(--shadow-color),
								0 0 24px var(--shadow-color);
			}
			&:last-child > span {
				&:first-child {
					position: absolute;
					color: hsl(var(--nextui-background));
					text-shadow: 0 0 6px var(--shadow-color),
								0 0 12px var(--shadow-color),
								0 0 18px var(--shadow-color),
								0 0 24px var(--shadow-color);
				}
				&:last-child {
					position: relative;
					color: #0088FF;
					background-image: linear-gradient(8deg, #1D63F0 25%, #1AD7FD 85%);
					background-clip: text;
					-webkit-text-fill-color: transparent;
				}
				&::before {
					content: "";
					display: inline-block;
					width: 0.3em;
				}
			}
		}
	}
}

section {
	position: relative;
	&:not(:first-of-type) {
		margin-top: 70px;
	}
}

p,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0.4px;
}

p {
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	margin: 0 0 0.625rem 0;
}

hr {
	background: hsl(var(--nextui-gray-200, 240 6% 90%));
	border: none;
	height: 2px;
}

div.flex {
	justify-content: space-around;
}
div.flex_el50 {
	margin: 20px 16px;
}


center.whatido_box {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
}


.blob_box {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 20px 0;
	width: 1000px;
	max-width: calc(100% - 60px);
	margin: 0 auto;
}
.blob {
	position: relative;
	display: block;
	justify-self: center;
	width: 25vmin;
	min-width: 75px;
	max-width: 150px;
	height: 25vmin;
	min-height: 75px;
	max-height: 150px;
	float: left;
	margin: 20px;
	border-radius: 35%;
	background-color: hsl(var(--nextui-backgroundContrast));
	box-shadow: var(--backlight);
	cursor: pointer;
	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 60%;
		height: 60%;
		top: 20%;
		right: 20%;
		pointer-events: none;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	}
	&:hover::after {
		transform: scale(0.7) translateY(-20%);
	}
	&.link_LinkedIn {
		--backlight: 0 0 0 2px #0a66c21A, -15px 0 30px -15px #259fb4, 0 0 30px -15px #0a66c2, 15px 0 30px -15px #243cac;
		&::after {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z'%3E%3C/path%3E %3C/svg%3E");
		}
	}
	&.link_GitHub {
		--backlight: 0 0 0 2px #7900791A, -15px 0 30px -15px #673496, 0 0 30px -15px #790079, 15px 0 30px -15px #8a2849;
		&::after {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 496 512'%3E%3Cpath fill='white' d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z'/%3E%3C/svg%3E");
		}
	}
	&.link_CodePen {
		--backlight: 0 0 0 2px #6d6c741a, -15px 0 30px -15px #797b83, 0 0 30px -15px #6d6c74, 15px 0 30px -15px #5e5763;
		&::after {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M502.285 159.704l-234-156c-7.987-4.915-16.511-4.96-24.571 0l-234 156C3.714 163.703 0 170.847 0 177.989v155.999c0 7.143 3.714 14.286 9.715 18.286l234 156.022c7.987 4.915 16.511 4.96 24.571 0l234-156.022c6-3.999 9.715-11.143 9.715-18.286V177.989c-.001-7.142-3.715-14.286-9.716-18.285zM278 63.131l172.286 114.858-76.857 51.429L278 165.703V63.131zm-44 0v102.572l-95.429 63.715-76.857-51.429L234 63.131zM44 219.132l55.143 36.857L44 292.846v-73.714zm190 229.715L61.714 333.989l76.857-51.429L234 346.275v102.572zm22-140.858l-77.715-52 77.715-52 77.715 52-77.715 52zm22 140.858V346.275l95.429-63.715 76.857 51.429L278 448.847zm190-156.001l-55.143-36.857L468 219.132v73.714z'/%3E%3C/svg%3E");
		}
	}
	&.link_Telegram {
		--backlight: 0 0 0 2px #1c93e31A, -15px 0 30px -15px #1cd6e3, 0 0 30px -15px #1c93e3, 15px 0 30px -15px #1c5be3;
		&::after {
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 448 512'%3E%3Cpath fill='white' d='M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z'/%3E%3C/svg%3E");
		}
	}
	> span {
		position: absolute;
		z-index: 1;
		width: 100%;
		bottom: 13%;
		text-align: center;
		font-family: Voces, Arial, sans-serif;
		pointer-events: none;
		color: hsl(var(--nextui-foreground));
		font-size: 150%;
		opacity: 0;
		transform: translateY(20%);
		transition: opacity 0.2s ease-in-out,
						transform 0.2s ease-in-out;
	}
	&:hover > span {
		color: hsl(var(--nextui-foreground));
		opacity: 1;
		transform: translateY(0%);
	}
}
html.light .blob::after {
	filter: invert(0.9);
}


#contact_section {
	font-size: 1.35rem;
	display: flex;
	justify-content: center;
	.contact_box {
		display: flex;
		&:not(:first-child) {
			margin-top: 2.0rem;
		}
		i {
			display: flex;
			grid-area: contact_icon;
			align-content: center;
			svg {
				width: 2rem;
				fill: hsl(var(--nextui-gray-600, 240 5% 34%));
				margin-right: 2rem;
			}
		}
		.contact_link {
			grid-area: contact_link;
			a {
				color: inherit;
				&:not(:hover) {
					text-decoration: none;
				}
			}
		}
	}
}


footer > p {
	text-align: center;
	color: #888;
	padding: 60px 0 40px;
}





@media only screen and (max-width: 1040px) {
	.projcard-img,
	.projcard > .projcard-innerbox > .projcard-textbox::before,
	.projcard > .projcard-innerbox > .projcard-textbox::after {
		display: none;
	}
	.projcard-container {
		 width: calc(100% - 20px);
	}
	.projcard > .projcard-innerbox > .projcard-textbox {
		left: 2rem;
		right: 2rem;
		width: unset;
	}
	.contact {
		display: block;
	}
	.contact > div {
		 width: 100%;
	}
	.contact_right {
		margin-top: 1rem;
	}
}
@media only screen and (max-width: 600px) {
	header > h1 > span {
		display: block;
		&:first-child {
			font-size: 125%;
		}
	}
}
@media only screen and (max-width: 400px) {
	.blob > span {
		font-size: calc(50% + 3vmin);
	}
}
